@using Xlns.BusBook.UI.Web.Models
@{
    ViewBag.Title = "ChangePassword";
}
@section head{
    <link href="@Url.Content("~/Content/agenzia.css")" rel="stylesheet" type="text/css" media="screen"/>
}
@model DettaglioPasswordView
@using (Html.BeginForm("ChangePassword", "Utente", FormMethod.Post, new { id = "changePasswordForm" }))
{
    <div id="content-wrapper">
        <div id="main">
            <h3>
                Seleziona la tua nuova password</h3>
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td>
                        <br />
                        <div class="labelizer">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div>
                            @Html.PasswordFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <br />
                        <div class="labelizer">
                            @Html.LabelFor(model => model.newPassword)
                        </div>
                        <div>
                            @Html.PasswordFor(model => model.newPassword)
                            @Html.ValidationMessageFor(model => model.newPassword)
                        </div>
                        <br />
                        <div class="labelizer">
                            @Html.LabelFor(model => model.repeatNewPassword)
                        </div>
                        <div>
                            @Html.PasswordFor(model => model.repeatNewPassword)
                            @Html.ValidationMessageFor(model => model.repeatNewPassword)
                        </div>
                        <input type="submit" value="Conferma" class="read-more" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @Html.HiddenFor(model => model.userId)
}
