@model Xlns.BusBook.Core.Model.Utente

@{
    ViewBag.Title = "ChangePassword";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Password</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        @Html.HiddenFor(model => model.Id)
       
         <p>
            <input type="submit" value="ChangePassword" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

