@using Xlns.BusBook.UI.Web.Models
@{
    ViewBag.Title = "ChangePassword";
}
@section head{
    <link href="@Url.Content("~/Content/agenzia.css")" rel="stylesheet" type="text/css" media="screen"/>
}
@model DettaglioPasswordView
@using (Html.BeginForm("ChangePassword", "Utente", FormMethod.Post, new { id = "changePasswordForm" }))
{
    <div id="content-wrapper" class="container_16">
        <div id="main" class="grid_16">
            <h3>Seleziona la tua nuova password</h3>
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td>
                        <legend>Cambia password</legend>
                        <br />
                        <div>
                            @Html.LabelFor(model => model.newPassword)
                        </div>
                        <div>
                            @Html.PasswordFor(model => model.newPassword)
                            @Html.ValidationMessageFor(model => model.newPassword)
                        </div>
                        <br />
                        <div>
                            @Html.LabelFor(model => model.repeatNewPassword)
                        </div>
                        <div>
                            @Html.PasswordFor(model => model.repeatNewPassword)
                            @Html.ValidationMessageFor(model => model.repeatNewPassword)
                        </div>
                        <input type="submit" value="Conferma" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
