@using Xlns.BusBook.Core.Model;
@model Xlns.BusBook.Core.Model.Utente
@{
    ViewBag.Title = "Dettaglio utente";
}
@section head{
    <link href="@Url.Content("~/Content/agenzia.css")" rel="stylesheet" type="text/css" media="screen"/>
}
<div id="content-wrapper">
    <div id="main">
        <h3>@ViewBag.Title</h3>
        <div class="labelizer">
            @Html.LabelFor(model => model.Cognome)</div>
        <div>
            @Html.DisplayFor(model => model.Cognome)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Nome)</div>
        <div>
            @Html.DisplayFor(model => model.Nome)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Username)</div>
        <div>
            @Html.DisplayFor(model => model.Username)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Agenzia.Nome)</div>
        <div>
            @Html.DisplayFor(model => model.Agenzia.Nome)
        </div>
        <p>
            @Html.ActionLink("Modifica", "Edit", new { id = Model.Id }, new { @class = "read-more" })
            @Html.ActionLink("Torna alla lista", "Index", null, new { @class = "read-more" })
        </p>
    </div>
</div>
