@model Xlns.BusBook.Core.Model.Utente
@{
   ViewBag.Title = "Modifica utente";
}
@section head{
    <link href="@Url.Content("~/Content/agenzia.css")" rel="stylesheet" type="text/css" media="screen"/>
}
<div id="content-wrapper" class="container_16">
    <div id="main" class="grid_16">
        <h3>
            @ViewBag.Title</h3>
        @using (Html.BeginForm("Edit", "Utente", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <table>
                <tr>
                    <td>
                        <fieldset>
                            <legend>Utente</legend>
                            <br />
                            <div>
                                @Html.LabelFor(model => model.Nome)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Nome)
                                @Html.ValidationMessageFor(model => model.Nome)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Cognome)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Cognome)
                                @Html.ValidationMessageFor(model => model.Cognome)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Username)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Username)
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Telefono)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Telefono)
                                @Html.ValidationMessageFor(model => model.Telefono)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Email)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </fieldset>
                    </td>
                </tr>
            </table>
              <input type="submit" value="Salva" id="submitButton" class="button" />
            <input type="button" value="Annulla" id="cancelButton" class="button" 
                    onclick="window.location='@Href("~/Utente/List")'" />
        }
    </div>
</div>
