@using Xlns.BusBook.Core.Model
@using Xlns.BusBook.UI.Web.Models
@model UtenteView
@{
    ViewBag.Title = "Elenco utenti";
    List<string> alfabeto = "abcdefghijklmnopqrstuvwxyz".Select(c => c.ToString().ToUpper()).ToList();
    
}
@section head{
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link href="@Url.Content("~/Content/ricerca.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link href="@Url.Content("~/Content/tiledList.css")" rel="stylesheet" type="text/css" media="screen"/>
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/utente.list.js")" ></script>
}
<div id="content-wrapper">
    <div id="main" >
        <h3>@ViewBag.Title</h3>
        <p>
             <input type="button" value="Nuovo utente" class="read-more" 
                onclick="window.location = '@Url.Content("~/Utente/Create")'" />
        </p>
        @using (Ajax.BeginForm("Search", null, new AjaxOptions()
                                            {
                                                HttpMethod = "GET",
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "elencoUtenti",
                                                LoadingElementId = "loadingDiv",
                                                OnComplete = "showResult",
                                                OnBegin = "hideResult"
                                            }, new { id = "quick-search" }))
        {
            <div style="margin: 10px">
                @Html.TextBox("q", Model.SearchString, new { style = "width: 200px" })
                <input type="submit" value="Cerca" class="read-more" />
            </div>
            <div style="margin: 10px;">
                @Ajax.ActionLink("Tutto", "Search", new { ini = string.Empty, q = Model.SearchString },
            new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "elencoUtenti",
                LoadingElementId = "loadingDiv",
                OnComplete = "showResult",
                OnBegin = "beginInitialLetterFilter"
            },
             new { style = "font-weight:bold" }
             )
                &nbsp;|&nbsp;
                @foreach (var lettera in alfabeto)
                {
                    @Ajax.ActionLink(lettera, "Search", new { ini = lettera, q = Model.SearchString },
            new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "elencoUtenti",
                LoadingElementId = "loadingDiv",
                OnComplete = "showResult",
                OnBegin = "beginInitialLetterFilter"
            })
                                     
                    if (lettera != alfabeto.Last())
                    {
                    <text> | </text>        
                    }
                }
            </div>
        }
        <div style="display: none; margin-left: 50px" id="loadingDiv">
            <img alt="loading" src="@Url.Content("~/Content/img/loading.gif")" width="24px" height="24px"/>
        </div>
        <div id="elencoUtenti" style="margin: 10px">
            @{Html.RenderAction("Search");}
        </div>
    </div>
</div>