@model Xlns.BusBook.UI.Web.Models.LocationPartialView
@{ var uniqueId = Model.GetHashCode();}
<div style="@Model.CssStyleForDataFieldDiv">
        <div class="labelizer">
            @Html.LabelFor(model => model.Location.Nation)</div>
        <div>
            @Html.DisplayFor(model => model.Location.Nation)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Location.Region)</div>
        <div>
            @Html.DisplayFor(model => model.Location.Region)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Location.Province)</div>
        <div>
            @Html.DisplayFor(model => model.Location.Province)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Location.City)</div>
        <div>
            @Html.DisplayFor(model => model.Location.City)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Location.Street)</div>
        <div>
            @Html.DisplayFor(model => model.Location.Street)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Location.Number)</div>
        <div>
            @Html.DisplayFor(model => model.Location.Number)
        </div>
        <div class="labelizer">
            @Html.LabelFor(model => model.Location.CAP)</div>
        <div>
            @Html.DisplayFor(model => model.Location.CAP)
        </div>
        @Html.HiddenFor(model => model.Location.Lat, new { id = "hiddenLat" + uniqueId })
        @Html.HiddenFor(model => model.Location.Lng, new { id = "hiddenLng" + uniqueId })
</div>
<div style="@Model.CssStyleForMapDiv">
    @Html.DisplayFor(model => model.Location.IndirizzoLeggibile)
    <div style="height: 20px">
        <span id="loaderMessage@(uniqueId)"></span>
    </div>
    <div id="map_canvas@(uniqueId)" style="margin-top:20px; border: 3px solid black; width: @(Model.MapWidth); height: @(Model.MapHeight);">
    </div>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/location.show.js")"></script>
    <script type="text/javascript">
        $(function () {
            initializeLocation(errorMsg, "hiddenLat@(uniqueId)", "hiddenLng@(uniqueId)", "map_canvas@(uniqueId)", "loaderMessage@(uniqueId)");
        });
    </script>
</div>
