@model Xlns.BusBook.Core.Model.Viaggio
@{
    var titolo = "Creazione nuovo viaggio";
    ViewBag.Title = titolo;
}
<h3>@titolo</h3>
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Content/scripts/viaggio.js")" type="text/javascript"></script>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Viaggio</legend>
        <div>
            @Html.LabelFor(model => model.Nome)
        </div>
        <div>
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div>
            @Html.LabelFor(model => model.DataPartenza)
        </div>
        <div>
            @Html.EditorFor(model => model.DataPartenza)
            @Html.ValidationMessageFor(model => model.DataPartenza)
        </div>
        <div>
            @Html.LabelFor(model => model.DataChiusuraPrenotazioni)
        </div>
        <div>
            @Html.TextBoxFor(model => model.DataChiusuraPrenotazioni, new { data_ui = "data"})
            @Html.ValidationMessageFor(model => model.DataChiusuraPrenotazioni)
        </div>
        <div>
            <h4>Dettagli del viaggio</h4>
            @foreach (var t in Model.Tappe)
            {
                @Html.Action("TappaEdit", new { tappa = t })              
            }
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
