@model Xlns.BusBook.Core.Model.Viaggio
@{
    ViewBag.Title = Model.Nome;
}
@section head{
    <link href="@Url.Content("~/Content/tiledList.css")" rel="stylesheet" type="text/css" media="screen"/>
}
@section scripts{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/viaggio.detail.js")"></script>
}
<div id="content-wrapper" class="container_16">
    <div id="main" class="grid_18">
        <h3 style="padding-bottom: 0px">@Model.Nome</h3>
        <h4 style="padding-top: 0px" class="tileSubTitle">
            @Html.DisplayFor(model => model.Descrizione)
        </h4>
        <br />
        <div class="grid_6 alpha">
            <fieldset>
                @Html.LabelFor(model => model.DataPartenza)
                <div>
                    @Html.DisplayFor(model => model.DataPartenza)
                </div>
                @Html.LabelFor(model => model.DataChiusuraPrenotazioni)
                <div>
                    @Html.DisplayFor(model => model.DataChiusuraPrenotazioni)
                </div>
                @if (Model.Tappe != null && Model.Tappe.Count > 0)
                {
                    if (Model.Tappe != null
                        && Model.Tappe.Where(t => t.Tipo == Xlns.BusBook.Core.Model.TipoTappa.PARTENZA) != null
                        && Model.Tappe.Where(t => t.Tipo == Xlns.BusBook.Core.Model.TipoTappa.PARTENZA).Count() > 0)
                    {
                    <div>
                        <label>
                            Partenza</label>
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Tappe
                                    .Where(t => t.Tipo == Xlns.BusBook.Core.Model.TipoTappa.PARTENZA)
                                    .OrderBy(t => t.Ordinamento)
                                    .First()
                                    .Location.City)
                    </div>
                    }
                    if (Model.Tappe != null
                        && Model.Tappe.Where(t => t.Tipo == Xlns.BusBook.Core.Model.TipoTappa.DESTINAZIONE) != null
                        && Model.Tappe.Where(t => t.Tipo == Xlns.BusBook.Core.Model.TipoTappa.DESTINAZIONE).Count() > 0)
                    {
                    <div>                    
                        <label>
                            Destinazione</label>
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Tappe
                                    .Where(t => t.Tipo == Xlns.BusBook.Core.Model.TipoTappa.DESTINAZIONE)
                                    .OrderByDescending(t => t.Ordinamento)
                                    .First()
                                    .Location.City)
                    </div>
                    }                    
                    <div style="display: none">
                        @foreach (var tappa in Model.Tappe)
                        {
                            <div class="tappaLocationInfo" data-tappa-id="@tappa.Id">
                                @Html.TextBox(String.Format("tbTappa{0}Lat", tappa.Id), tappa.Location.Lat)
                                @Html.TextBox(String.Format("tbTappa{0}Lng", tappa.Id), tappa.Location.Lng)
                            </div>
                        }
                    </div>
                }
            </fieldset>
        </div>
        <div class="grid_8 omega">
            <div style="height: 40px">
                <span id="loaderMessage"></span>
            </div>
            <div id="map_canvas" style="width: 500px; height: 350px;">
            </div>
        </div>
    </div>
    <div class="grid_16">
        <p>
            <div class="fb-send" data-href="http://xlns.it" data-font="segoe ui">
            </div>
            <a href="#" onclick="graphStreamPublish(); return false;">Pubblica sulla tua bacheca</a>
            <script type="text/javascript">
                function graphStreamPublish() {
                    var actionUrl = window.location;
                    var postText = 'BB new trip: ' + actionUrl;
                    FB.api('/me/feed', 'post', { message: postText }, function (response) {
                        if (!response || response.error) { alert('Si è verificato un errore'); }
                        else { alert('Post ID: ' + response.id); }
                    });
                }

                function share() {
                    var share = { method: 'stream.share', u: 'http://xlns.it/' };
                    FB.ui(share, function (response) { console.log(response); });
                }

                function showStream() {
                    FB.api('/me', function (response) {
                        streamPublish(response.name, 'XLNS your way to be xcellent', 'xlsn', 'http://xlns.it', "visit xlns");
                    });
                }

                function streamPublish(name, description, hrefTitle, hrefLink, userPrompt) {
                    FB.ui({ method: 'stream.publish', message: '', attachment: { name: name, caption: '', description: (description), href: hrefLink }, action_links: [{ text: hrefTitle, href: hrefLink}], user_prompt_message: userPrompt }, function (response) { });
                }
            </script>
            @Html.ActionLink("Modifica", "Edit", new { id = Model.Id }, new { @class = "button" })
            @Html.ActionLink("Torna alla lista", "List", null, new { @class = "button" })
            @Ajax.ActionLink("Pubblica", "Pubblica", "Viaggio",
                                    new AjaxOptions()
                                        {
                                            Confirm = "Una volta pubblicato il viaggio non sarà più possibile modificarlo: sicuro di voler continuare con la pubblicazione?",
                                            HttpMethod = "POST",
                                            OnSuccess = "alert('Pubblicazione avvenuta')"
                                        },
                                    new { @class = "button" })
        </p>
    </div>
</div>
