@model Xlns.BusBook.Core.Model.Viaggio
@{
    ViewBag.Title = "Edit";
}
@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "Nuovo viaggio";
    }
    else
    {
        ViewBag.Title = "Modifica viaggio";
    }
}
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker(
                                    {
                                        dateFormat: "dd M yy"
                                    });
        });
    </script>
}
<div id="content-wrapper" class="container_16">
    <div id="main" class="grid_16">
        <h3>
            @ViewBag.Title</h3>
        @using (Html.BeginForm("Save", "Viaggio", FormMethod.Post, new { id = "salvaViaggioForm" }))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Viaggio</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Nome, new { style = "width: 300px" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Descrizione)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Descrizione, 3, 50, null)
                    @Html.ValidationMessageFor(model => model.Descrizione)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DataPartenza)
                </div>
                <div class="editor-field">
                    @Html.TextBox("DataPartenza", string.Format(ModelMetadata.FromLambdaExpression(m => m.DataPartenza, ViewData).DisplayFormatString, Model.DataPartenza), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(model => model.DataPartenza)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DataChiusuraPrenotazioni)
                </div>
                <div class="editor-field">
                    @Html.TextBox("DataChiusuraPrenotazioni", string.Format(ModelMetadata.FromLambdaExpression(m => m.DataChiusuraPrenotazioni, ViewData).DisplayFormatString, Model.DataChiusuraPrenotazioni), new { @class = "datepicker" })
                    @Html.ValidationMessageFor(model => model.DataChiusuraPrenotazioni)
                </div>
                @Html.HiddenFor(model => model.Id)
                <p>
                    <input type="submit" value="Salva" class="button"/>
                    <input type="button" value="Annulla" id="cancelButton" class="button" 
                     onclick="window.location='@Href("~/Viaggio/List")'" />
                </p>
            </fieldset>
        }
        @if (Model.Id != 0)
        {
            <a href="#" onclick="aggiungiTappa(1)" class="button">Definisci partenza</a>
            <a href="#" onclick="aggiungiTappa(2)" class="button">Aggiungi tappa</a>
            <a href="#" onclick="aggiungiTappa(3)" class="button">Definisci arrivo</a>
        }
    </div>
        
    <div>
    </div>
</div>
