@model Xlns.BusBook.UI.Web.Models.ViaggioSearch
@using (Ajax.BeginForm("Search", Model, new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = @Model.idDivToUpdate,
            LoadingElementId = "loadingDiv",
            OnComplete = "showResult('" + @Model.idDivToUpdate + "')",
            OnBegin = "hideResult('" + @Model.idDivToUpdate +"')",
            OnFailure = "onFailure"
        }, new { id = "searchViaggi"}))
{
    <div class="editor-field">
        @Html.TextBoxFor(model => model.searchString, new { @class = "search" })
        <input type="submit" value="Cerca viaggi" class="button" />
    </div>
}
    <div style="display: none; margin-left: 50px" id="loadingDiv">
        <img alt="loading" src="@Url.Content("~/Content/img/loading.gif")" />
    </div>
<script src="@Url.Content("~/Content/scripts/viaggio.search.js")" type="text/javascript"></script>

