@model IEnumerable<Xlns.BusBook.UI.Web.Models.ViaggioSelectView>
@foreach (var viaggioItem in Model)
{
    var location = "";
    if (!viaggioItem.isSelectable)
    {
        if (viaggioItem.isDetailExternal)
        {
            location = "window.location = '" + Url.Action("DetailViaggio", "Site", new { id = viaggioItem.viaggio.Id, idFlyer = viaggioItem.idFlyer }) + "'";
        }
        else
        {
            string onClickUrl = @Url.Action("Detail", "Viaggio", new { id = viaggioItem.viaggio.Id });
            if (ViewBag.From != null && ViewBag.From.ToLower() == "flyer")
            {
                onClickUrl = @Url.Action("Detail", "Viaggio", new { id = viaggioItem.viaggio.Id, from = "flyer", idFlyer = ViewBag.FlyerId });
            }
            location = "window.location = '" + onClickUrl + "'";
        }
    }
    
    <div class="tileElement" id="TileDivViaggio@(viaggioItem.viaggio.Id)"  onclick="@location">
        <span class="tileTitle">
            @Html.DisplayFor(model => viaggioItem.viaggio.Nome)
        </span>
        @if (viaggioItem.viaggio.PromoImage != null)
        {
        <div style="margin: 0px 0px;">
            <img src="@Url.Action("View", "PromoImage", new { id = viaggioItem.viaggio.PromoImage.Id })" width="300px" height="150px" alt="promo image" />
        </div>
        } 
        <div class="tileSubTitle">@Html.DisplayFor(model => viaggioItem.viaggio.Descrizione)</div>
        @Html.LabelFor(model => viaggioItem.viaggio.DataPartenza) <b>@Html.DisplayFor(model => viaggioItem.viaggio.DataPartenza)</b>
        <br />
        @Html.LabelFor(model => viaggioItem.viaggio.DataChiusuraPrenotazioni) @Html.DisplayFor(model => viaggioItem.viaggio.DataChiusuraPrenotazioni)
        <br />
        @if (viaggioItem.isSelectable)
        {
            <div class="tileCommand">
                @Html.CheckBoxFor(model => viaggioItem.isSelected, new { id = viaggioItem.viaggio.Id })
            </div>
            
            <script type="text/javascript">
             $(function () {
                new SelectViaggio(@(viaggioItem.viaggio.Id));
             });
            </script>
        }
    </div>

}
