@model Xlns.BusBook.Core.Model.Viaggio
<div class="tileElement">
    <span style="font-family: Verdana; font-size: small; font-weight: bold; text-transform: uppercase">
        @Html.DisplayFor(model => model.Nome)
    </span>
    <br />
    <div style="font-style: italic; color: #C0C0C0">@Html.DisplayFor(model => model.Descrizione)</div>
    @Html.LabelFor(model => model.DataPartenza) <b>@Html.DisplayFor(model => model.DataPartenza)</b>
    <br />
    @Html.LabelFor(model => model.DataChiusuraPrenotazioni) @Html.DisplayFor(model => model.DataChiusuraPrenotazioni)
    <br />
    <label>Partenza</label>
    <a data-viaggio-id="@Model.Id" href="#" class="visualizzaDettaglioTappaLink">
        @Html.DisplayFor(model => model.Tappe.OrderBy(t => t.Ordinamento).First().Location.City)
    </a>
    <div id="hiddenTappaDetail@(Model.Id)" class="hiddenTappaDetail">
        @Html.DisplayFor(model => model.Tappe.OrderBy(t => t.Ordinamento).First().Location.IndirizzoLeggibile)
    </div>
</div>
