@model Xlns.BusBook.Core.Model.Viaggio
<div class="tileElement" onclick="window.location='@Url.Action("Detail", new { id = Model.Id })'">
    <div class="article">
        <h3 class="article-title">@Html.DisplayFor(model => model.Nome)</h3>
        <h3 class="article-meta">@Html.DisplayFor(model => model.Descrizione)</h3>
        <p>@Html.LabelFor(model => model.DataPartenza) <b>@Html.DisplayFor(model => model.DataPartenza)</b>
            <br />
            @Html.LabelFor(model => model.DataChiusuraPrenotazioni) @Html.DisplayFor(model => model.DataChiusuraPrenotazioni)
            <br />
            @if (Model.Tappe != null && Model.Tappe.Count > 0
        && Model.Tappe.Where(t => t.Tipo == Xlns.BusBook.Core.Model.TipoTappa.PARTENZA) != null)
            {
                <label>
                    Partenza</label>
                <a data-viaggio-id="@Model.Id" href="#" class="visualizzaDettaglioTappaLink">
                    @Html.DisplayFor(model => model.Tappe
                                    .Where(t => t.Tipo == Xlns.BusBook.Core.Model.TipoTappa.PARTENZA)
                                    .OrderBy(t => t.Ordinamento)
                                    .First()
                                    .Location.City)
                </a>
                <div id="hiddenTappaDetail@(Model.Id)" class="hiddenTappaDetail">
                    @Html.DisplayFor(model => model.Tappe.OrderBy(t => t.Ordinamento).First().Location.IndirizzoLeggibile)
                </div>
            }</p>
    </div>
</div>
<div class="article-line"></div> 