@model Xlns.BusBook.Core.Model.Viaggio
<div class="tileElement" onclick="window.location='@Url.Action("Detail", new { id = Model.Id })'">
    <span class="tileTitle">
        @Html.DisplayFor(model => model.Nome)
    </span>
    <br />
    <div class="tileSubTitle">@Html.DisplayFor(model => model.Descrizione)</div>
    @Html.LabelFor(model => model.DataPartenza) <b>@Html.DisplayFor(model => model.DataPartenza)</b>
    <br />
    @Html.LabelFor(model => model.DataChiusuraPrenotazioni) @Html.DisplayFor(model => model.DataChiusuraPrenotazioni)    
</div>
