@model Xlns.BusBook.UI.Web.Models.UtenteLoginView
<script type="text/javascript" src="@Url.Content("~/Content/scripts/login.js")" ></script>
<div id="latest-article">
    @using (Ajax.BeginForm("Login", "Login", new { redirectOnSuccess = true }, new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnFailure = "failure",
                OnBegin = "startOperation",
                OnComplete = "completeOperation",
                LoadingElementId = "loadingDiv",
                UpdateTargetId = "latest-article"
            }, new { id = "userInfoBox" }))
    {

        @Html.DisplayTextFor(model => model.LoginErrorMessage)<br />
        <div class="labelizer">
            @Html.LabelFor(model => model.Username)</div>
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)<br />
        <div class="labelizer">
            @Html.LabelFor(model => model.Password)</div>
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)<br />
        <input type="submit" value="Log In" id="submitButton" class="read-more" />
        @Html.ActionLink("Registrati", "Registration", "Login", null, new { @class = "read-more" })
    }
    <div style="display: none; margin-left: 50px" id="loadingDiv">
        <img alt="loading" src="@Url.Content("~/Content/img/loading.gif")"/>
    </div>
</div>
