@model Xlns.BusBook.UI.Web.Models.UtenteLoginView
<script type="text/javascript" src="@Url.Content("~/Content/scripts/login.js")" ></script>
<div id="LoginDiv">
    @using (Ajax.BeginForm("Login", "Login", new { redirectOnSuccess = true }, new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnFailure = "failure",
                OnBegin = "startOperation",
                OnComplete = "completeOperation",
                LoadingElementId = "loadingDiv",
                UpdateTargetId = "LoginDiv"
            }, new { id = "userInfoBox" }))
    {
        <div>
            @Html.DisplayTextFor(model => model.LoginErrorMessage)
      
            @Html.LabelFor(model => model.Username)
        
            @Html.EditorFor(model => model.Username)
        
            @Html.ValidationMessageFor(model => model.Username)
        
            @Html.LabelFor(model => model.Password)
        
            @Html.PasswordFor(model => model.Password)
        
            @Html.ValidationMessageFor(model => model.Password)

            <input type="submit" value="Log In" id="submitButton" class="button" />
        </div>
    }
    <div style="display: none; margin-left: 50px" id="loadingDiv">
        <img alt="loading" src="@Url.Content("~/Content/img/loading.gif")"/>
    </div>
</div>
