@model Xlns.BusBook.Core.Model.Utente
<script type="text/javascript" src="@Url.Content("~/Content/scripts/login.js")" ></script>
<div id="LogoutDiv">
    <h3>
        Logout</h3>
    <table id="userInfoBox">
    <tr>
    <td>
    <fieldset>
        <div>
            @Html.LabelFor(model => model.Username)
        </div>
        <div>
            @Html.DisplayTextFor(model => model.Username)
        </div>
        <br />
        <div>
            @Ajax.ActionLink("Log Out", "Logout", "Login", null, new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnFailure = "failure",
                OnBegin = "startOperation",
                OnComplete = "completeOperation",
                LoadingElementId = "loadingDiv",
                UpdateTargetId = "LogoutDiv"
            },new { @class = "button" })
        </div>
    </fieldset>
    </td>
    </tr>
    </table>
    <div style="display: none; margin-left: 50px" id="loadingDiv">
        <img alt="loading" src="@Url.Content("~/Content/img/loading.gif")"/>
    </div>
</div>
