@using Xlns.BusBook.UI.Web.Models
@using Microsoft.Web.Helpers
@{
    ViewBag.Title = "Modulo di Registrazione Utente";
}
@section head{
    <link href="@Url.Content("~/Content/agenzia.css")" rel="stylesheet" type="text/css" media="screen"/>
}
<div id="content-wrapper" class="container_16">
    <div id="main" class="grid_16">
       <h3>BusBook registrazione fase 2 di 3 - 
            @ViewBag.Title</h3>
        @model RegistrationView
        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <table>
                <tr>
                    <td>
                        <fieldset>
                            <legend>Utente</legend>
                            <br />
                            <div>
                                @Html.LabelFor(model => model.Utente.Nome)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Utente.Nome)
                                @Html.ValidationMessageFor(model => model.Utente.Nome)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Utente.Cognome)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Utente.Cognome)
                                @Html.ValidationMessageFor(model => model.Utente.Cognome)
                            </div>
                             <div>
                                @Html.LabelFor(model => model.Utente.Username)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Utente.Username)
                                @Html.ValidationMessageFor(model => model.Utente.Username)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Utente.Password)
                            </div>
                            <div>
                                @Html.PasswordFor(model => model.Utente.Password)
                                @Html.ValidationMessageFor(model => model.Utente.Password)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.UtenteRepeatPassword)
                            </div>
                            <div>
                                @Html.PasswordFor(model => model.UtenteRepeatPassword)
                                @Html.ValidationMessageFor(model => model.UtenteRepeatPassword)
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>@ReCaptcha.GetHtml(publicKey: "6Lcq1csSAAAAAGdA4Ugi3h6D5kpwQTq-g-AXVXSt", theme: "clean")
                    </td>
                </tr>
            </table>
            <input type="submit" value="Registra" id="submitButton" class="button" />
            <input type="button" value="Annulla" id="cancelButton" class="button" 
                    onclick="window.location='@Href("~/Utente/List")'" />
        }
    </div>
</div>
