@using Xlns.BusBook.UI.Web.Models
@using Microsoft.Web.Helpers
@{
    ViewBag.Title = "Modulo di Registrazione Utente";
}
@model RegistrationView
@using (Html.BeginForm("Registration", "Login", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td class="alignOntop">
                <fieldset>
                    <legend class="fieldsetStyle">Utente</legend>
                    <br />
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Utente.Nome)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Utente.Nome)
                        @Html.ValidationMessageFor(model => model.Utente.Nome)
                    </div>
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Utente.Cognome)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Utente.Cognome)
                        @Html.ValidationMessageFor(model => model.Utente.Cognome)
                    </div>
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Utente.Username)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Utente.Username)
                        @Html.ValidationMessageFor(model => model.Utente.Username)
                    </div>
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Utente.Email)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Utente.Email)
                        @Html.ValidationMessageFor(model => model.Utente.Email)
                    </div>
                    <br />
                </fieldset>
            </td>
            <td class="alignOntop">
                <fieldset>
                    <legend class="fieldsetStyle">Agenzia</legend>
                    <br />
                    @Html.HiddenFor(model => model.Agenzia.Id)
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Agenzia.Nome)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Agenzia.Nome)
                        @Html.ValidationMessageFor(model => model.Agenzia.Nome)
                    </div>
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Agenzia.RagioneSociale)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Agenzia.RagioneSociale)
                        @Html.ValidationMessageFor(model => model.Agenzia.RagioneSociale)
                    </div>
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Agenzia.PIva)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Agenzia.PIva)
                        @Html.ValidationMessageFor(model => model.Agenzia.PIva)
                    </div>
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Agenzia.Email)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Agenzia.Email)
                        @Html.ValidationMessageFor(model => model.Agenzia.Email)
                    </div>
                    <br />
                </fieldset>
            </td>
            <td class="alignOntop">
                <fieldset>
                    <legend class="fieldsetStyle">Dati di registrazione</legend>
                    @Html.HiddenFor(model => model.Agenzia.Id)
                    <br />
                    <div class="labelizer">
                        @Html.LabelFor(model => model.Utente.Password)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.PasswordFor(model => model.Utente.Password)
                        @Html.ValidationMessageFor(model => model.Utente.Password)
                    </div>
                    <div class="labelizer">
                        @Html.LabelFor(model => model.UtenteRepeatPassword)
                        @Html.Label("*")
                    </div>
                    <div>
                        @Html.PasswordFor(model => model.UtenteRepeatPassword)
                        @Html.ValidationMessageFor(model => model.UtenteRepeatPassword)
                    </div>
                    <br />
                </fieldset>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div>
                    <br />
                    <p class="italicText">
                        Cliccando su Registra, accetti i Termini e le Condizioni d'Uso di "Parti Comodo" e confermi
                        di aver letto e compreso la nostra Normativa sull'utilizzo dei dati.
                        <br />
                        Per maggiori informazioni leggi la nostra informativa cliccando sul pulsante <b>Privacy Policy</b> sottostante</p>
                    <br />
                    <a href="https://www.iubenda.com/privacy-policy/362213" class="iubenda-white " id="iubenda-embed"
                        title="Privacy Policy">Privacy Policy</a>
                    <script type="text/javascript">                        (function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; w.addEventListener ? w.addEventListener("load", loader, false) : w.attachEvent("onload", loader); })(window, document);</script>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @ReCaptcha.GetHtml(publicKey: "6Lcq1csSAAAAAGdA4Ugi3h6D5kpwQTq-g-AXVXSt", theme: "clean")
                <br />
                <input type="submit" value="Registra" id="submitButton" class="pButton" id="form_submit" />
            </td>
        </tr>
    </table>
}
