@using Xlns.BusBook.Core.Model
@{
    ViewBag.Title = "ChangePassword";
}
@section head{
    <link href="@Url.Content("~/Content/agenzia.css")" rel="stylesheet" type="text/css" media="screen"/>
}
@model Utente
@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = 0 }))
{
    <div id="content-wrapper" class="container_16">
        <div id="main" class="grid_16">
            <h3>
                Inserisci la tua email di registrazione, in breve tempo ti sarà inviata la nuova
                password</h3>
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td>
                        <legend>Reset password</legend>
                        <br />
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Agenzia.Email)
                        </div>
                        <div class="editor-label">
                            @Html.EditorFor(model => model.Agenzia.Email)
                            @Html.ValidationMessageFor(model => model.Agenzia.Email)
                        </div>
                        <input type="submit" value="Conferma" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
