@model Xlns.BusBook.Core.Model.Flyer
@{

  ViewBag.Title = "Il tuo Flyer";

}
@section head{
    <link href="@Url.Content("~/Content/tiledList.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link href="@Url.Content("~/Content/flyer.css")" rel="stylesheet" type="text/css" media="screen"/>
}

<div id="content-wrapper">
    <div id="main" >
        <h3>
            @ViewBag.Title</h3>            
            @Html.ActionLink("Annulla", "List", "Flyer", new { idAgenzia = Model.Agenzia.Id }, new {@class ="button"})
            <br />
            <br />
            <div style="display: table">
                <div style="display: table-row">
                    <div style="display: table-cell; padding-right: 20px">
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Agenzia.Id)
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Titolo)
                            </div>
                            <div class="editor-label">
                                @Html.DisplayFor(model => model.Titolo, new { @class="titolo"})
                            </div>
                            <div>
                                @{Html.RenderAction("ShowSelected","Viaggio",  new {idFlyer = Model.Id, isDetailExternal = false});}
                            </div>
                            <br />
                    </div>
                    <!-- chiusura cella -->
                </div>
                <!-- chiusura riga -->
            </div>
            
    </div>
</div>
