@model Xlns.BusBook.Core.Model.Flyer
@{

  ViewBag.Title = "Il tuo Flyer";

}
@section head{
    <link href="@Url.Content("~/Content/tiledList.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link href="@Url.Content("~/Content/flyer.css")" rel="stylesheet" type="text/css" media="screen"/>
}

<div id="content-wrapper" class="container_16">
    <div id="main" class="grid_16">
        <h3>
            @ViewBag.Title</h3>
            <div style="display: table">
                <div style="display: table-row">
                    <div style="display: table-cell; padding-right: 20px">
                        <fieldset>
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Agenzia.Id)
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Titolo)
                            </div>
                            <div class="editor-label">
                                @Html.DisplayFor(model => model.Titolo, new { @class="titolo"})
                            </div>
                            <div class="scroll">
                                @{Html.RenderAction("ShowSelected","Viaggio",  new {idFlyer = Model.Id, isDetailExternal = false});}
                            </div>
                            <br />
                        </fieldset>
                    </div>
                    <!-- chiusura cella -->
                </div>
                <!-- chiusura riga -->
            </div>
            <a class="button" href="@Request.UrlReferrer">Annulla</a>
    </div>
</div>
