
@model IEnumerable<Xlns.BusBook.Core.Model.Flyer>
@{
    ViewBag.Title = "Index";    
}

<h2>Index</h2>

@foreach (var flyer in Model)
{
    @Html.DisplayFor(m => flyer.Titolo);
    @Html.DisplayFor(m => flyer.Agenzia.Nome);
                                                                          
     foreach (var viaggio in flyer.Viaggi)
     {
             @Html.DisplayFor(m => viaggio.Nome);
            @Html.DisplayFor(m => viaggio.Descrizione);
     }
}



@Html.ActionLink("Pigiami", "Test")
