@model IEnumerable<Xlns.BusBook.UI.Web.Models.ViaggioSelectView>
@foreach (var viaggioItem in Model)
{
    var location = "";
    if (!viaggioItem.isSelectable) {
        if (viaggioItem.isDetailExternal) 
        {
            location = "window.location = '" + Url.Action("DetailViaggio", "Site", new { id = viaggioItem.viaggio.Id, idFlyer = viaggioItem.idFlyer }) + "'";
        }
        else
        {
            location = "window.location = '" + Url.Action("Detail", "Viaggio", new { id = viaggioItem.viaggio.Id }) + "'";
        }
    
    }

    
    <div class="tileElement" id="TileDivViaggio@(viaggioItem.viaggio.Id)"  onclick="@location">
        <span class="tileTitle">
            @Html.DisplayFor(model => viaggioItem.viaggio.Nome)
        </span>
        <br />
        <div class="tileSubTitle">@Html.DisplayFor(model => viaggioItem.viaggio.Descrizione)</div>
        @Html.LabelFor(model => viaggioItem.viaggio.DataPartenza) <b>@Html.DisplayFor(model => viaggioItem.viaggio.DataPartenza)</b>
        <br />
        @Html.LabelFor(model => viaggioItem.viaggio.DataChiusuraPrenotazioni) @Html.DisplayFor(model => viaggioItem.viaggio.DataChiusuraPrenotazioni)
        <br />
        @if (viaggioItem.isSelectable)
        {
            <div class="tileCommand">
                @Html.CheckBoxFor(model => viaggioItem.isSelected, new { id = viaggioItem.viaggio.Id })
            </div>
        }
    </div>

}
