@model Xlns.BusBook.UI.Web.Models.FlyerTiled
@{
    String cssClass = "tileElement";
    if (Model.isShort == true)
    {
        cssClass += " shortTileElement";
    }

    var onclick = "window.location='" + Url.Action("Detail", new { id = Model.flyer.Id }) + "'";
    if (Model.isDetailAjax)
    {
        onclick = "javascript:DetailAjax(" + Model.flyer.Id + ")";
    }
}
<div class="@cssClass" id="TileDivFlyer@(Model.flyer.Id)" onclick="@Html.Raw(onclick)">
    @Html.DisplayFor(modelItem => Model.flyer.Titolo)
    @if (Model.isEditable)
    {
        <div class="tileCommand">
            @Html.ActionLink("Modifica", "Edit", new { id = Model.flyer.Id }, new { @class = "ui-icon ui-icon-pencil" })
            <a href="#" class="ui-icon ui-icon-closethick" data-delete-command="@Model.flyer.Id">
                Elimina</a>
        </div>
    }
</div>
@if (Model.isEditable)
{
<script type="text/javascript">
    $(function () {
        new Tile(@(Model.flyer.Id));
    });
</script>
}
