@using Xlns.BusBook.Core.Model;
@using Xlns.BusBook.UI.Web.Models;
@model Xlns.BusBook.UI.Web.Models.DettaglioAgenziaView
@{
    ViewBag.Title = "Dettaglio agenzia";
}
<div id="content-wrapper" class="container_16">
    <div id="main" class="grid_16">
        <h3>@ViewBag.Title</h3>
        <br />
        <div class="grid_6 alpha">
            <fieldset>
                <div>
                    @Html.LabelFor(model => model.agenzia.Nome)</div>
                <div>
                    @Html.DisplayFor(model => model.agenzia.Nome)
                </div>
                <div>
                    @Html.LabelFor(model => model.agenzia.RagioneSociale)</div>
                <div>
                    @Html.DisplayFor(model => model.agenzia.RagioneSociale)
                </div>
                <div>
                    @Html.LabelFor(model => model.agenzia.PIva)</div>
                <div>
                    @Html.DisplayFor(model => model.agenzia.PIva)
                </div>
                <div>
                    @Html.LabelFor(model => model.agenzia.Location)</div>
                <div>
                    @Html.DisplayFor(model => model.agenzia.Location.IndirizzoLeggibile)
                </div>
                <div>
                    @Html.LabelFor(model => model.agenzia.Email)</div>
                <div>
                    @Html.DisplayFor(model => model.agenzia.Email)
                </div>
                <div>
                    @Html.LabelFor(model => model.agenzia.Telefono)</div>
                <div>
                    @Html.DisplayFor(model => model.agenzia.Telefono)
                </div>
                <div>
                    @Html.LabelFor(model => model.agenzia.Fax)</div>
                <div>
                    @Html.DisplayFor(model => model.agenzia.Fax)
                </div>
                <div style="margin-top: 10px">
                    <label>
                        L'agenzia ha proposto
                        @Html.DisplayFor(model => model.NumeroViaggiProposti)
                        viaggi per un totale di
                        @Html.DisplayFor(model => model.KmViaggiProposti)
                        km
                    </label>
                </div>
                <div style="margin-top: 10px">
                    <label>
                        L'agenzia ha partecipato a
                        @Html.DisplayFor(model => model.NumeroViaggiPartecipati)
                        viaggi per un totale di
                        @Html.DisplayFor(model => model.KmViaggiPartecipati)
                        km
                    </label>
                </div>
                @Html.HiddenFor(model => model.agenzia.Location.Lat, new { id = "hiddenLat" })
                @Html.HiddenFor(model => model.agenzia.Location.Lng, new { id = "hiddenLng" })
            </fieldset>
        </div>
        <div class="grid_8 omega">
            @{Html.RenderAction("Show", "Location",
                        new
                        {
                            locationPartialView = new LocationPartialView()
                                                  {
                                                      Location = Model.agenzia.Location,
                                                      MapJsAlreadyLoaded = false
                                                  }
                        });
            }
        </div>
    </div>
    <div class="grid_16">
        <p>
            @Html.ActionLink("Modifica", "Edit", new { id = Model.agenzia.Id }, new { @class = "button" })
            @Html.ActionLink("Torna alla lista", "List", null, new { @class = "button" })
        </p>
    </div>
</div>
