@model Xlns.BusBook.UI.Web.Models.DettaglioAgenziaView
<div>
    <h2>Benvenuto, @Model.NomeAdv</h2>
    <div>
        @Html.ActionLink("Modifica dati", "Edit", new { id = Model.agenzia.Id })
    </div>
    <div style="margin-top: 10px">
        <h2>
            Stato</h2>
        <div>
            <a href="@Url.Action("Proposte", "Agenzia", new { id = Model.agenzia.Id })">Pubblicati
                @Html.DisplayFor(model => model.KmViaggiPubblicati)
                viaggi:
                @Html.DisplayFor(model => model.KmViaggiPubblicati) km </a>
        </div>
        <div>
            <a href="@Url.Action("Partecipazioni", "Agenzia", new { id = Model.agenzia.Id })">Partecipato
                a
                @Html.DisplayFor(model => model.NumeroViaggiPartecipati)
                viaggi:
                @Html.DisplayFor(model => model.KmViaggiPartecipati)
                km </a>
        </div>
    </div>
</div>
