@model Xlns.BusBook.UI.Web.Models.DettaglioAgenziaView
<div>
    <h3>@Model.NomeAdv</h3>
    <div>
        @Html.ActionLink("Modifica dati", "Edit", new { id = Model.agenzia.Id })
    </div>
    <div>
        <a href="#">Rubrica</a>
    </div>
    <div style="margin-top: 10px">
        <div style="font-weight: bold; font-style: italic">
            Stato</div>
        <div>
            <a href="@Url.Action("Proposte", "Agenzia", new { id = Model.agenzia.Id })">Pubblicati
                @Html.DisplayFor(model => model.KmViaggiPubblicati)
                viaggi:
                @Html.DisplayFor(model => model.KmViaggiPubblicati) km </a>
        </div>
        <div>
            <a href="@Url.Action("Partecipazioni", "Agenzia", new { id = Model.agenzia.Id })">Partecipato
                a
                @Html.DisplayFor(model => model.NumeroViaggiPartecipati)
                viaggi:
                @Html.DisplayFor(model => model.KmViaggiPartecipati)
                km </a>
        </div>
    </div>
</div>
