@model Xlns.BusBook.UI.Web.Models.DettaglioAgenziaView
<div  class="tileElement shortTileElement" id="TileDivAgenzia@(Model.agenzia.Id)" onclick="window.location='@Url.Action("Detail", new { id = Model.agenzia.Id })'">
    @Html.Raw(Model.NomeAdv)
    <div class="tileCommand">
        @Html.ActionLink("Modifica", "Edit", new { id = Model.agenzia.Id }, new { @class = "ui-icon ui-icon-pencil" })
        <a href="#" class="ui-icon ui-icon-closethick" data-delete-command="@Model.agenzia.Id">
            Elimina</a>
    </div>
    <div>
        <a href="@Url.Action("Proposte", "Agenzia", new { id = Model.agenzia.Id })">Proposti
            @Html.DisplayFor(model => model.KmViaggiPubblicati)
            viaggi per
            @Html.DisplayFor(model => model.KmViaggiPubblicati) km </a>
    </div>
    <div>
        <a href="@Url.Action("Partecipazioni", "Agenzia", new { id = Model.agenzia.Id })">Partecipato
            a
            @Html.DisplayFor(model => model.NumeroViaggiPartecipati)
            viaggi per
            @Html.DisplayFor(model => model.KmViaggiPartecipati)
            km </a>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/scripts/agenzia.tile.js")" ></script>
